
<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-firestore.js"></script>

    <body >
      <div>
        <app-reminder></app-reminder>
      <div class="wrapper">
        <app-usertopnavbar></app-usertopnavbar>
        <!-- <app-asidenavbar></app-asidenavbar> -->
        <app-usersidenav></app-usersidenav>
        <div class="content-wrapper">
          <section class="content-header">
            <section class="content">
                <section class="content-header">
                    <h1>Call Log Report</h1>
                    <ol class="breadcrumb">
                       <!---- <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li> -->
                        <button mat-button color="primary" (click) = 'getList()'>Click to see remaining calls to make<i class="material-icons">
                          library_add 
                          </i></button>
                      </ol>
                  </section>
                  <br>
                  <div class="row">
                
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                      <span class="info-box-icon bg-maroon"><i class="material-icons">
                        settings_cell
                        </i></span>
                      <div class="info-box-content">
                        <span class="info-box-text">Total Calls Count</span>
                        <span class="info-box-number">{{total}}</span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="material-icons">
                          phone_callback
                          </i></span>
                        <div class="info-box-content">
                          <span class="info-box-text">Incoming Calls Count</span>
                          <span class="info-box-number">{{incomingUser}}</span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                    </div> 
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                          <span class="info-box-icon bg-fuchsia"><i class="material-icons">
                            phone_forwarded
                            </i></span>
                          <div class="info-box-content">
                            <span class="info-box-text">Outgoing Calls Count</span>
                            <span class="info-box-number">{{outgoingUser}}</span>
                          </div>
                          <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                      </div>
                       <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="material-icons">
                              phone_disabled
                              </i></span>
                    
                            <div class="info-box-content">
                              <span class="info-box-text">Missed Calls Count</span>
                              <span class="info-box-number">{{missedUser}}</span>
                            </div>
                            <!-- /.info-box-content -->
                          </div>
                          </div>

                          <!-- /.info-box -->
                          <div class="col-md-3 col-sm-6 col-xs-12">
                              <div class="info-box">
                                <span class="info-box-icon bg-yellow"><i class="material-icons">
                                  phonelink_erase
                                  </i></span>
                                <div class="info-box-content">
                                  <span class="info-box-text">Rejected Calls Count</span>
                                  <span class="info-box-number">{{rejected}}</span>
                                </div>
                                <!-- /.info-box-content -->
                              </div>
                              <!-- /.info-box -->
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="info-box">
                                  <span class="info-box-icon bg-fuchsia"><i class="material-icons">
                                    contact_phone
                                    </i></span>
                          
                                  <div class="info-box-content">
                                    <span class="info-box-text">Total Call Length</span>
                                    <span class="info-box-number">{{totalCallLength}}</span>
                                  </div>
                                  <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                              </div>
                              <div class="clearfix visible-sm-block"></div>
                  
                             
                           
                  </div>
                  <div class="row">
                     <!---- <div class="col-md-12 col-sm-6 col-xs-12">
                          <div class='search'>
                            <form class="sidebar-form" >
                              <div class="input-group" >
                                <input type="text" name="q" class="form-control" [(ngModel)]='query' (keyup)='queryChange()' placeholder="Search...">
                                <span class="input-group-btn">
                                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                          <i class="fa fa-search"></i>
                                        </button>
                                      </span>
                              </div>
                            </form>
                          </div>
                        </div> -->
                        
                         <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="custom-select info-boxes" >  
                                <label>Number: </label> 
                                <select [(ngModel)] = "selectedNumber"  (change)="filterData()">
                                    <option *ngFor="let fromnumber of filteredNumber"  [ngValue]="fromnumber ">{{fromnumber}}
                                  </option>
                                </select>
                                </div>
                               </div>
                               <div class="col-md-3 col-sm-6 col-xs-12">
                                  <div class="custom-select info-boxes" >  
                                      <label>Type:</label>
                                      <br>
                                      <select [(ngModel)] = "selectedType" allow-clear="true" (change)="filterData()">
                                          <option *ngFor="let activity of filteredType"  [ngValue]="activity">{{activity}}  
                                        </option>
                                      </select>
                                    </div>
      
                              </div>
                              

                              <div class="col-md-3 col-sm-6 col-xs-12">
                                  <div class=" info-boxes" > 
                                      <input type="text" matInput
                                      ngxDaterangepickerMd
                                      [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}"
                                      startKey="startDate"
                                      endKey="endDate"
                                      [(ngModel)]="selectedDaterange"
                                      (change) = 'filterData()'
                                      name="daterange"
                                      placeholder="choose date"/>
                                  </div>
                                </div>
                            </div>
                            
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="box box-primary">
                                    <div class="box-header with-border">
                                      <h3 class="box-title">Total Unique contact No</h3>
                        
                                      <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                      </div>
                                    </div>
                                    <div class="box-body">
                                      <div class="chart">
                                        <div *ngIf="chartunique">
                                          <canvas id="canvasunique">{{ chartunique }}</canvas>
                                        </div>                                           </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box box-info">
                                      <div class="box-header with-border">
                                        <h3 class="box-title">Total contact No</h3>
                          
                                        <div class="box-tools pull-right">
                                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                          </button>
                                          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </div>
                                      </div>
                                      <div class="box-body">
                                        <div class="chart">
                                          <div *ngIf="charttotal">
                                            <canvas id="canvastotal">{{ charttotal }}</canvas>
                                          </div>                                            </div>
                                      </div>
                                    </div>
                          
                                  </div>
                          </div>
                                
                            
                                  <section class="content">
                                    <div class="row">
                                      <div class="col-xs-12">
                                        
                              
                                        <div class="box">
                                          <div class="box-header">
                                            <h3 class="box-title">Data Table With All Records </h3>
                                          </div>
                                       
                                          <div class="box-body">
                                            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                              <div class="row">
                                              
                                                  <div class="col-sm-6">
                                                    <label>Search  : </label>
                                                      <input type="text" [(ngModel)]="term" placeholder="search....">
                                                      
                                                  </div>
                                                  
                                                </div>
                                                <div class="row">
                                                  <div class="col-sm-12">
                                                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                              <thead>
                                              <tr role="row">
                                                
                                                
                                                
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 224px;">ContactName</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 199px;">FromNumber(s)</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 156px;">ToNumber</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 112px;">Duration(sec)</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 112px;">Activity</th>
  
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 112px;">Time</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 112px;">Date</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 112px;">note</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 112px;">AudioLink</th>
  
                                                
  
  
                                              </tr>
                                              </thead>
                                              <tbody>
                                                  <tr *ngFor= "let post of filteredCalls | paginate: { id: 'listing_pagination',
                                                  itemsPerPage: 10,
                                                  currentPage: page,
                                                  totalItems: totalRec } |filter:term">
                                                  
                                                      <td>{{post.ContactName}}</td>
                                                      <td>{{post.FromNumber }}</td>
                                                      <td>{{post.ToNumber}}</td>
                                                      <td>{{post.CallLength}}</td>
                                                      <td>{{post.Activity}}</td>
                                                     <td>{{post.Timestamp*1000 |date: 'h:mm:ss a'}}</td> 
                                                    <td>{{post.Timestamp*1000 |date:'dd/MM/yyyy' }} </td>
                                                    <td><button mat-button (click)="openDialog(post.notes)"><i class="material-icons">
                                                      description
                                                      </i></button></td>
                                                      <td>
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                                            Play
                                                          </button>
                                                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                              <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                  <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">User Recoding</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                      <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                  </div>
                                                                  <div class="modal-body">
                                                                      <audio controls>
                                                                          <source src=  {{post.url}} />
                                                                          </audio>
                                                                        
                                                                  </div>
                                                                  <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div> 
                                                    </td>
                                                    <td>
                                                        
                                                    </td>
                                          
                                                    </tr>  
                                              </tbody>
                                              
                                            </table></div></div><div class="row">
                                              
                                                <div>
                                                    <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                                                  </div>
                                            </div>
                                          </div>
                                          </div>
                                          <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                      </div>
                                      <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                  </section>

    </section>
  </section>
</div>
  </div>

        
      </div> 
    </body>
    </html>
      
      

